@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

/* ::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  height: 90px;
} */

body {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f4f4f4;
  font-family: Poppins, sans-serif;
  transition: all 0.3s ease-in-out;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .banner-search-button{
    @apply flex-center h-full rounded-md bg-blue-500 p-5 text-white shadow active:scale-90 transition-all duration-300;
  }
  .button1 {
    @apply flex-center rounded-lg  bg-blue-900 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-950 active:scale-90 transition-all duration-300;
  }
  .button2 {
    @apply flex-center rounded-lg border border-blue-900 bg-white px-5 py-2 text-sm font-medium text-blue-900 hover:bg-gray-100 active:scale-90 transition-all duration-300;
  }
  .button3 {
    @apply flex justify-center gap-2 rounded-lg border border-zinc-500 px-4  py-2 text-black hover:bg-zinc-200 active:scale-90 transition-all duration-300;
  }
  /* Sign Up / Sign In  Button */
  .button4 {
    @apply flex-center  bg-blue-500 px-8 py-2.5  font-medium text-white hover:bg-blue-600 active:scale-90 transition-all duration-300;
  }
  .button5 {
    @apply flex-center rounded border border-blue-500 bg-white px-5 py-2 font-medium text-blue-500 hover:bg-gray-100 active:scale-90 transition-all duration-300;
  }
  /* END Sign Up / Sign In  Button */
  .cardButton1 {
    @apply flex-center w-full  gap-2 rounded-lg border border-zinc-500 px-4 py-2  text-lg font-medium text-black hover:bg-zinc-200 active:scale-90 transition-all duration-300;
  }
  .cardButton2 {
    @apply flex-center w-full  gap-2 rounded-md border  bg-gradient-to-r from-blue-500   to-blue-900 px-4 py-2  text-lg text-white hover:from-blue-900 hover:to-blue-500 active:scale-90 transition-all duration-300;
    span {
      @apply mt-[2px] text-xl;
    }
  }
  .title1 {
    @apply text-3xl font-semibold max-md:text-2xl;
  }
  .icon-text {
    @apply flex gap-2;
    span {
      @apply mt-[2px] text-xl text-red-500;
    }
  }
  .social-icon {
    @apply flex-center rounded-full bg-blue-950 p-2 hover:bg-blue-500 active:scale-90 transition-all duration-300;
  }
}

.topColleges {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    /* background-color: #ececec; */
    border-radius: 100%;
    /* margin-right: 10px;
    margin-left: 10px; */
    color: #2095f2 !important;
    fill: #2095f2 !important;
    stroke: #2095f2 !important;
    width: 20px;
    height: 20px;
    z-index: 999999999;
  }
  .swiper-button-prev::after {
    font-size: 25px;
  }
  .swiper-button-next::after {
    font-size: 25px;
  }
  .swiper-pagination-bullet {
    border-radius: 0% !important;
    width: 20px !important;
    height: 3px !important;
  }

  @media only screen and (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 15px;
    }
  }
}
.testimonials {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: -20%;
    /* background-color: #ececec; */
    border-radius: 100%;
    /* margin-right: 10px;
    margin-left: 10px; */
    color: #2095f2 !important;
    fill: #2095f2 !important;
    stroke: #2095f2 !important;
    width: 15px;
    height: 15px;
    z-index: 999999999;
  }
  .swiper-button-prev::after {
    font-size: 25px;
  }
  .swiper-button-next::after {
    font-size: 25px;
  }
  .swiper-pagination-bullet {
    border-radius: 0% !important;
    width: 20px !important;
    height: 3px !important;
  }

  @media only screen and (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
      display: none;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 15px;
    }
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox 64+ */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Edge */
}

/* THin scrollbar */

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}

* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar and track */
}

*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}

/* .-top-10 {
  top: 7.5rem;
}

.landing-1 {
  padding: 198px;
}
.landing-2 {
  padding: 198px;
} */
